
<div class="col-xs-12" id="<%=dom_id(comment)%>">
  <div class="row">
    <div class="col-xs-11">
      <%= comment.body %>
    </div>

    <div class="col-sx-1">
      <% if user_signed_in? && can?(:delete, comment)%>
        <%= link_to 'delete', post_comment_path(@post, comment), method: :delete, remote: true, data: { confirm: 'Are you sure?'} %>
      <%end%>
      <hr>
    </div>
  </div>
</div>
